## Colours ##
background-color = #000A
text-color = #cdd6f4
selection-color = #F9E2af

## Params ##
font = "/usr/share/fonts/TTF/JetBrainsMonoNerdFont-SemiBold.ttf"
num-results = 6
prompt-text = ""

## Styles ##
width = 100%
height = 100%
border-width = 0
outline-width = 0
padding-left = 45%
padding-top = 30%
result-spacing = 25
