## Colours ##
background-color = #000A
text-color = #cdd6f4
prompt-color = #f38BA8
selection-color = #F9E2af

## Params ##
font = "/usr/share/fonts/TTF/JetBrainsMonoNerdFont-SemiBold.ttf"
num-results = 5
prompt-text = "Wifi SSID: "

## Styles ##
width = 100%
height = 100%
border-width = 0
outline-width = 0
padding-left = 30%
padding-top = 30%
result-spacing = 25
